footer {
    height: 300px;
    background-image: url('images/dark-wood@2x.png');
    background-size: contain;
    color: #fff;
}

.footer-content-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 55px;
    line-height: 2.5rem;
    
}

.company-info {
    display: flex;
    max-width: 80%;
    h3 {
        color: $orange;
    };
    p {
        white-space: nowrap;
    }
    ul li {
        display: inline;
        padding: 0 4px;
    };
    a {
        color: #fff;
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    min-width: 210px;
    padding-right: 7%;
    .fa-envelope, .fa-map-marker-alt {
        padding-right: 7px;
    };
    .fa-phone {
        padding-left: 7px;
    };
    .fab {
        font-size: 1.1em;
    }
}

.company-info .business-hours-class {
    margin-top: 0;
    line-height: 2.5rem;
    h3 {
        font-size: 1.2rem;
        margin-bottom: 0;
    }
}

.logo-text-wrapper {
    img {
        width: 200px;
    }
}

.copyright {
    text-align: center;
}