footer {
    height: 300px;
    background-image: url('images/dark-wood@2x.png');
    background-size: contain;
    color: #fff;
}

.footer-content-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 47px;
    
}

.company-info {
    display: flex;
    h3 {
        color: $orange-onbrand;
    };
    ul li {
        display: inline;
        padding: 0 1px;
    };
    a {
        color: #fff;
    }
}

.contact-info {
    display: flex;
    flex-direction: column;

}

footer .hours {
    display: flex;
    flex-direction: column;
}

.logo-text-wrapper {
    img {
        width: 200px;
    }
}