
// Contact Form 7
.wpcf7-form label {
    font-family: 'Novecento';
    text-transform: uppercase;
    span {
        color: red;
    }
    input, textarea {
        border: 1px solid #e1e1e1;
        padding: 4px 10px;
        background: #f4f4f4;
    }
    input {
        height: 30px;
        width: 350px;
    }
    textarea {
        height: 300px;
        width: 700px;
    }
}

.wpcf7-submit {
    color: #fff;
    background: $green;
    font-size: 0.9rem;
    width: 100px;
    height: 40px;
    padding: 10px 12px;
    text-transform: uppercase;
}