body {
    // max-width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    line-height: 1.75;
    position: relative;
}

.all-page-wrapper {
    margin: 40px 55px 0 55px;
}


// Add sidebar grid template to all page.phps
.page-sidebar-content-wrapper {
    display: flex;
    // grid-template-rows: 1fr;
    // grid-template-columns: 1fr minmax(300px, 20%);
}

// Grid layout for Front Page - Adventures
.adventures-teaser {
    display: grid;
    grid-gap: 20px;

    grid-template: calc(50% - 10px) calc(50% - 10px) / calc(50% - 10px) repeat(2, calc(25% - 15px));
    grid-template-areas: 'post-1 post-2 post-2'
                         'post-1 post-3 post-4';
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}


// Grid layout for Adventure Archive Page
.adventure-grid {
    display: grid;
    grid-auto-rows: 500px;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-gap: 20px;
    margin-bottom: 120px;
}