body {
    max-width: 1120px;
    margin: 0 auto;
    line-height: 1.75;
    position: relative;
}
// Adds sidebar grid template to all pages
// .page-template-default {
//     display: grid;
//     grid-template-rows: 1fr;
//     grid-template-columns: 1fr minmax(200px, 20%);
// }