body {
    // max-width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    line-height: 1.75;
    position: relative;
}

.all-page-wrapper {
    margin: 0 5%;
}


// Add sidebar grid template to all page.phps
.page-sidebar-content-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(300px, 20%);
}