.header-green {
    height: 40px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    padding: 1% 5%;
    img {
        width: 45px;
    }
    .menu {
        min-width: 30%;
    };
    .menu ul {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        li {
            padding-right: 10px;
        }
    }
}

.header-white {
    @extend .header-green;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: none;
    a {
        color: white;
        &:hover {
            color: $orange-onbrand;
        }
    }
   
}