nav {
    display: flex;

}

label {
    display: none;
}
input[type=search] {
    border: none;
    height: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    width: 200px;
}

.showing {
    display: inline-block;
}
