
// Social media buttons in single products and single posts
.btn-social-media {
    white-space: nowrap;
    border-radius: 1px;
    border: 2px solid $litegrey;
    padding: 2% 3%;
    text-transform: uppercase;
    i {
        padding-right: 8px;
    }
    a {
        color: $font-color; 
     }
    &:hover {
        background-color: $green;
        border-color: $green;
        cursor: pointer;
        a { 
            color: #fff;
        }
    }
}


.read-more-btn {
    color: $font-color;
    text-transform: uppercase;
    border: 1px solid $medgrey;
    text-align: center;
    &:hover {
        color: #fff;
        background: $green;
    }
}

