
// Social media buttons in single products and single posts
.btn-social-media {
    font-size: 0.9rem;
    white-space: nowrap;
    border-radius: 1px;
    background-color: #fff;
    border: 2px solid $medgrey;
    padding: 9px 23px;
    text-transform: uppercase;
    i {
        padding-right: 8px;
    }
    a {
        color: $font-color; 
     }
    &:hover {
        background-color: $green;
        border-color: $green;
        cursor: pointer;
        a { 
            color: #fff;
        }
    }
}

// Read More Buttons for Journal Posts and Cards

.read-more-btn {
    color: $font-color;
    text-transform: uppercase;
    border: 1px solid $medgrey;
    text-align: center;
    &:hover {
        color: #fff;
        background: $green;
    }
}

.green-btn {
    background: $green;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 5px;
    &:hover {
        background: darken($green, 10%);
        color: #fff;
    }
}

// Adventure Read More Button

.read-adventure-btn {
    display: block;
    border: 1px solid #fff;
    width: 150px;
    padding: 5px 0;
    margin-top: 11%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    &:hover {
        background: $green;
        border-color: $green;
        color: #fff;
    }
}

