.four-0-four {
    a {
        font-family: 'Merriweather light';
    }
}

.four-0-four-search-form {
    i {
        display: none;
    }
    label {
        display: block;
    }
    input[type=search] {
        border: $solid-border;
        background-color: #f4f4f4;
        height: 2rem;
        font-size: 1rem;
        text-transform: unset;
        width: 200px;
        padding: 4px;
        font-family: 'Merriweather light';
    }
}