
.four-0-four-block {
    margin-bottom: 30px;
    a {
        font-family: 'Merriweather light';
    }
    h2 {
        margin-bottom: 20px;
    }
}

.four-0-four-search-form {
    i {
        display: none;
    }
    label {
        display: block;
        margin-top: 30px;
    }
    input[type=search] {
        border: $solid-border;
        background-color: #f4f4f4;
        height: 2.3rem;
        font-size: 1rem;
        text-transform: unset;
        width: 200px;
        padding: 4px;
        font-family: 'Merriweather light';
    }
}

.four-0-four-categories {
    li {
        list-style: none;
        
    }
}