.narrow-content-wrapper {
    max-width: 700px;
    margin: 0 auto 45px auto;
    h2, h3 {
        text-transform: uppercase;
        text-align: center;
    }
    h3 {
        letter-spacing: 0.1rem;
        margin: 15px 0;
    }

}

.hero-wrapper {
    h2 {
        color: #fff;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/about-hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    // max-width: 1120px;
    height: 747px;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 30px;

}

