.front-pg-wrapper {
    margin: 0 5% 80px 5%;
}


.front-hero-wrapper {
    @include hero;
    background-position: center center;
}

.front-header {
    font-family: 'Novecento';
    text-align: center;
    margin: 57px 0;
}

// SHOP STUFF

// .shop-stuff-menu {
//     display: flex;
// }

// .stuff-product-card {
//     border: $solid-border;
//     border-top: $thick-border;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     text-align: center;
//     width: calc(25% - 1.5%);
//     max-height: 300px;
//     padding: 1%;
//     p {
//         margin: 5% 0;
//     }
//     &:hover {
//         border-color: $orange;
//     }
// }

// .margin-right-card {
//     margin-right: 20px;
// }

// .stuff-icon {
//     width: 70px;
// }

// .stuff-btn {
//     width: 130px;
// }

//  INHABITENT JOURNAL TEASER

.inhab-journal-teaser{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.journal-card {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 395px;
    border: $solid-border
}

.journal-card-img-wrapper{
    width: 100%;
    height: 235px;

    img {
        width: 100%;
        height: 235px;
        object-fit: cover;
    }
}

.journal-info {
    display: flex;
    flex-direction: column;
    border-top: $thick-border;
    position: relative;
    height: 158px;
    padding: 4%;
    p {
        font-size: 0.8rem;
    }
    h3 {
        color: $green;
        line-height: 1.5rem;
        a {
            font-family: 'Novecento demibold';
        }
    }
}

.read-entry-btn {
    @extend .read-more-btn;
    width: 140px;
    padding: 6px 0;
    position: absolute;
    bottom: 13px;
}

// Adventures Teaser
.adventure-card {
    width: 100%;
    position: relative;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.position-1 {
    grid-area: post-1;
    img, .adventure-overlay {
        height: 500px;
    }
}
.position-2 {
    grid-area: post-2;
    img {
        object-position: center 85%;
    }
    .adventure-heading {
        font-size: 2rem;
    }
    .read-adventure-btn {
        margin-top: 6%;
    }
}
.position-3 {
    grid-area: post-3;
}
.position-4 {
    grid-area: post-4;
}

.position-2, .position-3, .position-4 {
    img, .adventure-overlay {
        height: 100%;
    }
}

.position-3, .position-4 {
    .adventure-heading {
        font-size: 1.5rem;
    }
}

a.more-adventures {
    font-size: 1.2rem;
    padding: 1% 2.5%;
}