.posts-content-wrapper {
    padding: 30px 5% 80px 0;
    border-right: $solid-border;
}

.journal-post-head {
    position: relative;
    margin-bottom: 20px;
    h4 {
        background: $green;
        color: #fff;
        font-family: 'Novecento';
        position: absolute;
        right: 0;
        bottom: 8px;
        padding: 0 4%;
    }
}

.journal-post-title {
    position: absolute;
    top: 33px;
    color: #fff;
    background: $green;
    padding: 2% 3%;
    max-width: 70%;
    line-height: initial;

}

.journal-img-wrapper {
    img {
        max-width: 100%;
        height: auto;
    }
}

.read-more-link {
    @extend .read-more-btn;  // from _buttons.scss
    display: block;
    width: 150px;
    padding: 1% 0;
    margin: 20px 0 55px 0;
}