.single-journal-text {
    p {
        margin-top: 30px;
    }
    h5 {
        display: inline-block;
        margin-right: 25px;
    }
}

.post-categories {
    display: inline;
    li {
        display: inline;
    }
}