.single-product-content {
    display: flex;
    margin: 40px 55px 80px 55px;
}

.single-product-img-wrapper {
    height: auto;
    width: 47%;
    img {
        height: auto;
        width: 100%;
    }
}

.single-product-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 3%;
    h2 {
        color: $orange;
    }
    span { 
        font-family: 'Novecento';
        font-size: 1.4rem;
    }
}

.product-social-media-bts {
    margin-top: 20px;
}
