.lrg-img-wrapper {
    img {
        width: 100%;
        height: auto;
    }
}

.adventure-content {
    max-width: 750px;
    margin: 50px auto 75px auto;
    h3 {
        font-family: 'Novecento';
        letter-spacing: unset;
        margin: 15px 0 20px 0;
    }
    p {
        margin-bottom: 20px;
    }
    

}