@mixin hero {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 30px; 
    @content;
}