
$base-font-size: 16px;
$font-color: #404040;
$green-onbrand: #248A83;
$purple-onbrand: #2f1339;
$orange-onbrand: #d99054;
$yellow-onbrand: #f0e4d1;
$litegrey-onbrand: #a1a1a1;
$medgrey-onbrand: #808080;