
$base-font-size: 16px;
$font-color: #404040;
$green: #248A83;
$purple: #2f1339;
$orange: #d99054;
$yellow: #f0e4d1;
$litegrey: #a1a1a1;
$medgrey: #808080;
$solid-border: 1px solid #e1e1e1;
$thick-border: 5px solid #e1e1e1;
$dashed-border: 1px dashed #c8c8c8;